[Bb]in/
[Oo]bj/
[Ww]orking*/
Build/runbuild.txt
Doc/doc.shfbproj_*
TestResults/
AppPackages/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
*.lock.json
.vs/
*.props
*.targets

#NuGet
packages
!packages/repositories.config