[Bb]in/
[Oo]bj/
[Ww]orking*/
Build/runbuild.txt
Build/nuget.exe
Doc/doc.shfbproj_*
TestResults/
AppPackages/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
*.orig
.DS_Store