pool:
  vmImage: 'Ubuntu 16.04'

steps:
- powershell: |
    Write-Host "Hello World from $Env:AGENT_NAME."
    Write-Host "My ID is $Env:AGENT_ID."
    Write-Host "AGENT_WORKFOLDER contents:"
    gci $Env:AGENT_WORKFOLDER
    Write-Host "AGENT_BUILDDIRECTORY contents:"
    gci $Env:AGENT_BUILDDIRECTORY
    Write-Host "BUILD_SOURCESDIRECTORY contents:"
    gci $Env:BUILD_SOURCESDIRECTORY
    Write-Host "Over and out."
    ./build/build.ps1
  env:
    KEY_DATA: $(KEY_DATA)
  displayName: 'Run build'
