<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Newtonsoft.Json.ruleset" ToolsVersion="12.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Error" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1308" Action="Error" />
    <Rule Id="CA1309" Action="Error" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA1903" Action="Error" />
  </Rules>
</RuleSet>