<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="CI Builds (aspnetvnext)" value="https://www.myget.org/F/aspnetvnext/" />
    <add key="CI Builds (xunit)" value="https://www.myget.org/F/xunit/" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org/api/v2" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>