<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="AspNet VNext (CI Builds)" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="xunit (CI Builds)" value="https://www.myget.org/F/xunit/api/v2" />
    <add key="NuGet.org (v2)" value="https://www.nuget.org/api/v2" />
  </packageSources>
</configuration>